{% extends "html.html.twig" %}

{% block page %}
<div class="container">
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p><a class="btn btn-info" role="button" href="{{ path('oauth2_authorize_http') }}">HTTP Basic Login</a></p>
        <p><a class="btn btn-primary" role="button" href="{{ acg_path }}">Authorization Code Grant</a></p>
        <p><a class="btn btn-primary" role="button" href="{{ ig_path }}">Implicit Grant</a></p>
        <p><a class="btn btn-primary" role="button" href="{{ ropcg_path }}">Resource Owner Password Credentials Grant</a></p>
        <p><a class="btn btn-primary" role="button" href="{{ ccg_path }}">Client Credentials Grant</a></p>
        <p><a class="btn btn-warning" role="button" href="{{ path('oauth2_authorize_form_logout') }}">Form Logout</a></p>
    </div>
</div>
{% endblock %}
